/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */




/* HEADER */

header {
    background-color: #FFCC00;
    color:#191825;
}

nav a:hover{
    color: #EB5B00 !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

/* Body */

body {
   background-color:#191825;

}

.botonsec {
    background-color: transparent;
    border-radius:  3px !important;
    border-color: #0A74DA;
    font-display: #0A74DA;
    color: #0A74DA !important;
    padding: 12px 20px;
}

h1 {
    color: #EB5B00;
    font-size: 40px;
}

.carousel-caption {
    color: #0A74DA ;

}

text {
color: #EB5B00;
font-weight: bold;

}


.card-title {
color: #EB5B00;
font-weight: bold;

}

.card-text {
color: #191825;
font-weight: bold;

}

h2 {
 color: #EB5B00;
}




.titulocarta {
    font-size: 16px
}

.titulocarta:hover {
    color: #EB5B00;
   /*  font-size: 24px; */
    text-decoration: underline;
    font-weight: bold;
}

.card {
  border: 2px solid #EB5B00;
background-color:  #ac9e8e;
 /*  border-radius: 8px;    /* Rounds the corners with an 8px radius */ 
 /*  padding: 20px;         /* Adds internal spacing */ 
 /* Sets a white background */
 
}


/* p {
    font-family: vend sans;
    color: #000000;
} */


/* FOOTER */

footer {
    background-color: #FFCC00;
    color:#191825;
}

/* .container {
    display: flex;
    justify-content: space-between;
} */


.icono {
font-size: 24px;
color: #0A74DA;
}


.botonprim {
    background-color: #0A74DA;
    color: #ffffff;
    border-radius: 6px;
    padding: 12px 20px;
}



